.main {
    display: grid;
    height: 600px;
    width: 600px;
    border-style: solid;
    border-color: black;

}

body {
    display: flex;
    justify-content: center;
}

.items {
    border-style: dotted;
    border-width: thin;
}

.filled {
    background-color: black;
}